html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

calcite-shell {
  height: 100%;
}

#maps-container {
  position: relative; 
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: black;
  gap: 4px;
}

.map-frame {
  flex: 1;
  min-width: 0;
  height: 100%;
}

#screenshot-overlay {
  /* Sitting on top of everything centered */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  /* Keeping a 3 by 2 aspect ratio, as AGOL screenshots are typically 600x400 */
  aspect-ratio: 3 / 2;
  max-width: 97.5%;
  max-height: 97.5%;
  /* Downscaling if we shrink the browswer */
  width: 100%;
  height: auto;

  /* Slight border */
  border: 2px solid red;
  background-color: transparent;
  pointer-events: none;
  z-index: 9999999;
}